:root {
    --bg-cinza-claro: #f6F7F8;
    --bg-cinza-escuro: #EAEDF0;

    --borda-cinza: #D6D9DC;

    --font-header: #5D6063;

    --botao: #5995DA;
    --botao-hover: #76AEED;
    --botao-active: #407FC7;
}

* {
padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* centraliza o form */

body {
    color: var(--font-header);
    background-color: var(--bg-cinza-escuro);
    font-family: 'Helvetica', "Arial", sans-serif;
    font-size: 16px;
    line-height: 1.3;

    /* centraliza a página inteira horizontalmente */
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* header */
.speaker-form__header {
    /* estilo: cores, centraliza texto, borda */
    text-align: center;
    background-color: var(--bg-cinza-claro);
    border: 1px solid var(--borda-cinza);
    border-radius: 3px;

    /* espaçamento interno e externo. Mobile first: */
    width: 80%;
    margin: 40px 0;
    padding: 50px;
}

.speaker-form__header h1 {
    font-size: 30px;
    margin-bottom: 20px;
}

.form {
    /* cores e border */
    border: 1px solid var(--borda-cinza);
    background-color: var(--bg-cinza-claro);
    border-radius: 3px;

    /* espaçamento e tamanho */
    width: 80%;
    padding: 50px;
    margin: 0 0 40px 0;
}

.form__row {
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.form__row input[type='text'],
.form__row input[type='email'],
.form__row select,
.form__row textarea {
    background-color: #FFFFFF;
    border: 1px solid var(--borda-cinza);
    border-radius: 3px;
    width: 100%;
    padding: 7px;
    font-size: 14px;
}

.form__row label {
    margin-bottom: 15px;
}

/* for invalid outputs */ 
.form__row input[type='text']:invalid,
.form__row input[type='email']:invalid {
    border: 1px solid #D55C5F;
    color: #D55C5F;
    box-shadow: none;
}

/* legacy radio buttons */
.legacy_form__row {
    border: none;
    margin-bottom: 40px;
}

.legacy_form__row legend {
    margin-bottom: 15px;
}

.legacy_form__row .radio_label {
    display: block;
    font-size: 14px;
    padding: 0 20px 0 5px;
}

.legacy_form__row input[type='radio'] {
    margin-top: 2px;
}

.legacy_form__row .radio_label,
.legacy_form__row input[type='radio'] {
    float: left;
}

/* select element */
.form__row select {
    width: 100%;
    padding: 5px;
    font-size: 14px;
}

.form__row textarea {
    /* font */
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-size: 14px;

    /* border, height and spacing */
    border: 1px solid var(--borda-cinza);
    border-radius: 3px;

    min-height: 200px;
    margin-bottom: 20px;
    padding: 7px;

    /* resize none */
    resize: none;
}



.instructions {
    color: #999999;
    font-size: 14px;
    margin-bottom: 30px;
}


/* checkbox */
.form__row .checkbox_label {
    margin-bottom: 0;
}

/* button */ 
.form__row button {
    /* muda a fonte */
    font-size: 16px;
    font-weight: bold;

    /* muda a cor */
    color: #FFFFFF;
    background-color: var(--botao);

    /* tira a borda e deixa redonda */
    border-radius: 3px;
    border: none;

    /* bota a mãozinha */
    cursor: pointer;


    padding: 15px 40px;
}

.form__row button:hover {
    background-color: var(--botao-hover);
}

.form__row button:active {
    background-color: var(--botao-active);
}

/* >>>>>>>>>>>> DESKTOP VERSION */
@media only screen and (min-width: 700px) {     /* apply only on screens bigger than 700px (desktop) */
    .speaker-form__header,
    .form {
        width: 600px;
    }

    .form__row{
        flex-direction: row;
        align-items: flex-start;
        margin-bottom: 20px;
    }

    .form__row input[type='text'],
    .form__row input[type='email'] {
        width: 250px;
        height: initial;
      }

      .form__row label {
        text-align: right;
        width: 120px;
        margin-top: 7px;
        padding-right: 20px;
      }

      .legacy_form__row {
        margin-bottom: 10px;
      }

      .legacy_form__row legend {
        width: 120px;
        text-align: right;
        padding-right: 20px;
      }

      .legacy_form__row legend {
        float: left;
      }

      .form__row .instructions {
        margin-left: 120px;
      }

      .form__row .checkbox_label {
        margin-left: 120px;
        width: auto;
      }

      .form__row button {
        margin-left: 120px;
      }
}