* {
    box-sizing: border-box;
}


.parent {
    display: flex;
    justify-content: space-between;
    width: 400px;
}


a:hover {
    font-size: 2rem;
}

a:link {
    color: green;
}

a:visited {
    color: red;
}

.links:nth-child(2) {
    font-size: 2rem;
}


.grand-child {
    height: 100px;
    width: 100px;
}


.child:nth-child(even) > .grand-child {
    background-color: fuchsia;
}

.child:nth-child(odd) > .grand-child {
    background-color: blue;
}

.parent > .child:nth-last-child(3) > .grand-child {
    background-color: red;
    height: 150vh;
}

.parent > .child .grand-child:active {
    background-color: darkgrey;
}

#fodase[type$="se"] {
    background-color: green;
    position: sticky;
    top: 50px;
}

.child:nth-child(2) .grand-child {
    width: 200px;
    height: 200px;
    position: relative;
    left: 50px;
    top: 50px;


}